<div class="container-fluid">
  <div class="row m-4">
    <div class="alert alert-info" role="alert" *ngIf="Pageable.empty">
      Employees not found!
    </div>

    <div class="col-md-12" *ngIf="!Pageable.empty">
      <h3 class="mb-3 text-center">Employees List</h3>

      <div class="col-md-12">
        <table class="table table-bordered bg-light">
          <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let employee of Pageable.content" (click)="setEmployeeAndNavigate(employee)">
            <td>{{employee.id}}</td>
            <td>{{employee.name}}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-12">
        <div class="text-center">
          <nav class="d-inline-block">
            <ul class="pagination">
              <ng-template ngFor let-number [ngForOf]="Pages">
                <li ngClass="{{Pageable.pageNumber === number ? 'active' : ''}}" class="page-item" (click)="loadEmployees(number)">
                  <button class="page-link">{{number}}</button>
                </li>
              </ng-template>
            </ul>
          </nav>
        </div>
      </div>

    </div>
  </div>
</div>